<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>net.lugoues.lumiere</string>
    <key>CFBundleName</key>
    <string>Lumière</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>The Lumière daemon controls Neewer lights over Bluetooth.</string>
</dict>
</plist>
